name: Deploy to AWS S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: ソースコードの取得 (Checkout)
        uses: actions/checkout@v4

      - name: AWS認証情報の設定 (Configure AWS Credentials)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: S3へデプロイ (Deploy)
        run: |
          aws s3 sync . s3://park-aws-portfolio --delete --exclude ".git/*" --exclude ".github/*"
